* {
  margin: 0; 
  padding: 0;
} /* selecteur universel, sans ceci on avait deux-trois éléments qui avait une mise en page un peu étrange.*/

html {
	background-color: #f8e5b6;
} /*couleur de fond de page, à changer*/

body {
	display: flexbox; /*type de display, le truc des grenouilles*/
}

nav{
	background: #1d0f21; /*couleur de fond du bandeau de naviguation*/
}

nav ul{
	display: flex; /*pour que les éléments li se mettent correctement en page*/
}

nav li{
	display: inline-flex;
	justify-content: space-around; 
	padding-top: 0.2em;
	padding-bottom: 0.2em; /*padding défini la largeur du bandeau hors texte*/
	width: 20%;
}

nav a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #969eea;
}

h1 {
	Color: #7fb78e;
	text-align: center;
	font-size: 2.8em;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
	background: #4f2009;
  margin: 0.5em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
	border-radius: 5em 0em 5em 0em; /*défini la courbe de chaque coin*/
	border: 0.2em groove #7fb78e; /*pour rendre le contour plus élégant*/
	border-width: 0.3em 0.2em; /*taille du contour horizontalement et verticalement*/
	margin-bottom: 5px;
}

img:hover {
	width: 93%;
} /*image s'aggrandit quand on passe la souris dessus*/

img {
	width: 50%; /*taille de l'image*/
	position: center;
	height: auto; /*pour éviter les déformations*/
	border-radius: 1em; 
	border: 0.5em double #7fb78e; /*border ça défini la bordure*/
	margin-bottom: 0.5em;
}

section {
	margin-top: 1em; /*je ne veux une marge qu'au dessus dans le cas des sections*/
}

h2 {
	Color: #7fb78e;
	text-align: center;
	font-size: 2.2em;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
	background: #4f2009;
	padding-top: 0.2em;
	padding-bottom: 0.2em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
	border-radius: 4em 0em 4em 0em; 
	border: 0.2em groove #7fb78e;
	border-width: 0.3em 0.2em;
	margin-top: 10px;
	margin-bottom: 12px;
}

p, li {
	color: #4f2009;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
	font-size: 1.8em;
	margin: 0;
	margin-left: 3%; /*juste pour décaler un peu par rapport aux titres, je trouve ça plus jolie*/
	margin-right: 3%;
}

.gras {
	font-weight: bold;
} /*ma classe qui mets les mots en gras.*/

a {
	color: rgb(160,60,50);
}

a:hover {
	background: rgba(127, 183, 142,0.40);
} /*change la couleur de fond lorque la souris passe dessus*/

footer {
	background: #4faaa9;
	padding: 4em; /*pour ne pas avoir les éléments coller aux bord du footer*/
	margin-top: 5em;
  display : flex-inline;
}

footer>section {
  display : flex-inline;
  color: #7fb78e; 
	text-align: center;
}
footer>section>p {
  
  font-size: 1em;
}

video {
	width : 96%;
	height: auto; /*pour que l'image ne se déforme pas*/
	margin: 2%; /*2% de chaque côté plus les 96% de la vidéo, est tout l'espace de ma colonne est prix en compte.*/
}

iframe {
	width : 720px;
	height: 405px;
}

/* Pour visualiser durant les changements, https://codepen.io/pen/ */
