* {
  margin: 0;
  padding: 0;
} /* selecteur universel, sans ceci on avait deux-trois éléments qui avait une mise en page un peu étrange.*/

html {
	background-color: #f8e5b6;
}

body {
	display: flexbox;
	column-gap: 3em; /*pour que les colonnes ne soient pas collés*/
}

nav{
	background: #1d0f21;
}

nav ul{
	display: flex;
}

nav li{
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 8px;
	float: left;
	width: 20%;
	text-align: center;
}

nav a{
	display: inline-block;
	text-decoration: none;
	color: #969eea;
}

h1 {
	Color: #7fb78e;
	text-align: center;
	font-size: 2.8em;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
	background: #4f2009;
  margin: 0.5em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
	border-radius: 5em 0em 5em 0em; /*défini la courbe de chaque coin*/
	border: 0.2em groove #7fb78e; /*pour rendre le contour plus élégant*/
	border-width: 0.3em 0.2em; /*taille du contour horizontalement et verticalement*/
	margin-bottom: 5px;
}

img:hover {
	width: 93%;
} /*image s'aggrandit quand on passe la souris dessus*/

.decoration {
	grid-column: 3;
	grid-row: 1/4; /*pour que l'image ne change pas ma mise en forme en aggrandissant une 'row'*/
	width: 93%;
	height: auto; /*évite les déformations*/
	margin-top: 30%;
	padding: 1%;
	background: #4f2009;
	border-radius: 20em 20em 0em 0em; /*forme arondie on peut effet 'fenêtre'*/
	border: 0.5em double #7fb78e; /*pour rendre le contour plus élégant*/
}

img {
	width: 50%;
	position: center;
	height: auto; /*pour éviter les déformations*/
	border-radius: 1em; 
	border: 0.5em double #7fb78e;
	margin-bottom: 0.5em;
}

section {
	margin-top: 1em; /*je ne veux une marge qu'au dessus dans le cas des sections*/
}

h2 {
	Color: #7fb78e;
	text-align: center;
	font-size: 2.2em;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
	background: #4f2009;
	padding-top: 0.2em;
	padding-bottom: 0.2em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
	border-radius: 4em 0em 4em 0em; 
	border: 0.2em groove #7fb78e;
	border-width: 0.3em 0.2em;
	margin-top: 10px;
	margin-bottom: 12px;
}

p, li {
	color: #4f2009;
	font-family: "Helvetica", sans-serif;
	text-align: justify;
	font-size: 1.8em;
	margin: 0;
	margin-left: 3%; /*juste pour décaler un peu par rapport aux titres, je trouve ça plus jolie*/
	margin-right: 3%;
}

.gras {
	font-weight: bold;
} /*ma classe qui mets les mots en gras.*/

a {
	color: rgb(160,60,50);
}

a:hover {
	background: rgba(127, 183, 142,0.40);
} /*change la couleur de fond lorque la souris passe dessus*/

#liste>li {
	margin-left: 10%; /*Lorsque j'ajouterais des images, je pense que je calerais cette liste à côté d'une d'entre elle.*/
	padding: 5px;
} /* Je pourrais changer l'id en classe si jamais j'ai d'autres listes plus tard.*/

ol>li {
	margin-left: 4%;
	margin-right: 50%; /*Je veux que la liste retourne à la ligne passé un certain point, ce point n'est pas atteint pour l'instant mais si j'ajoute des articles qui sont plus longs, ça pourrait.*/
	padding: 5px;
	text-align:left;
}

table {
	background: rgba(79, 32, 9,0.80);
	width: 50%; /*je ne veux pas que mon tableau soit sur toute la colonne*/
	text-align: center;
	border: 1px solid #4f2009;
	margin-left: 4%;
	margin-bottom: 1em;
	box-shadow: 5px 10px 25px rgba(50, 0, 0, 0.2); /*pour faire joli*/
}

th {
	background: rgba(127, 183, 142,0.75); /*couleur cellule d'entête du tableau*/
}

th, td {
	color: #4f2009; /*couleur du texte*/
	font-family: "Helvetica", sans-serif;
	padding: 0.3em; 
	font-size: 1.8em;
}

tr:nth-child(even) {
	background-color: rgba(248, 229, 182,0.85);
}

tr:nth-child(odd) { 
	background-color: rgba(248, 229, 182,0.65);
} /* lignes 169 à 175 sont pas super importantes vu qu'il n'y a que 2 lignes au tableau, mais c'est une aide à la lecture.*/

footer {
	background: #4faaa9;
	padding: 4em; /*pour ne pas avoir les éléments coller aux bord du footer*/
	margin-top: 5em;
  display : inline-flex;
}

footer>section {
  display: flex-inline;  
	color: #7fb78e; /*besoin de changer les couleurs vu que le font est foncé*/
	font-size: 1.8em;
	text-align: center;
}

video {
	width : 96%;
	height: auto; /*pour que l'image ne se déforme pas*/
	margin: 2%; /*2% de chaque côté plus les 96% de la vidéo, est tout l'espace de ma colonne est prix en compte.*/
}

iframe {
	width : 720px;
	height: 405px;
}

/* Pour visualiser durant les changements, https://codepen.io/pen/ */
