<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Clair Obscur</title>
        <link rel="icon" href="./IMAGES/r102jeux.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="style2" rel="stylesheet" type="text/css" media="all" href="./style2.css" disable>
		<link id="style1" rel="stylesheet" type="text/css" media="all" href="./style.css" disable>
        <script src="./js/script.js"></script>
    </head>
    <body>
        <nav>
			<ul>
				<li><a href="./index.html"><img src="IMAGES/accueil.png"></a></li>
				<li><a href="#form">Formulaire</a></li>
				<li><a href="./field_of_mistria.html">* {
  margin: 0;
  padding: 0;
}/* selecteur universel, sans ceci on avait deux-trois éléments qui avait une mise en page un peu étrange.*/

@media (max-width:980px) {
  .aligned,
  .summary,
  footer{
    flex-direction:column;
  }
}

:root {
  /*thème clair*/
  --primary-color-light: #f5c211;
  --background-light: #ffffffff;
  --text-light: #00000000;

  /*thème obscur*/
  --primary-color-dark: #282437;

  /* thème sakura*/
  --primary-color-sakura: #ffb7c5;

  /*defaut*/
  --primary-color: var(--primary-color-light);
  --background-color: var(--background-light);
  --text-color: var(--text-light);
}

.dark {
  --primary-color: var(--color-primary-light);
}

/*CONSTRUCTION DE LA PAGE*/
html {
  background-color: #48524c;
}
body {
  display: block;
}
section {
  margin-top: 1em; /*je ne veux une marge qu'au dessus dans le cas des sections*/
}
.aligned {
  display:flex;
}
.aligned img {
  margin:4em;
  width:20em;
  height:auto;
}

/*NAVIGATION*/
nav {
  background: #dbb479; /*couleur de fond du bandeau de naviguation*/
}

nav > ul {
  display: flex; /*pour que les éléments li se mettent correctement en page*/
}

nav > ul > li {
  display: inline-flex;
  justify-content: space-around;
  padding: 0.1em; /*padding défini la largeur du bandeau hors texte*/
  width: 100%;
}

nav > ul > li > a {
  background-color:#a36029;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  color: #fffff;
  padding:0.2em;
  border-radius: 0.7em;
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*PAGE d'ACCUEIL*/
.index {
  background-image: url(IMAGES/accueil.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*les images cliquables*/
.index ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

header.index img {
    width:10em;
    height: auto;
    display: block;
}


/*LOGO*/
.title {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

/*PAGE CLAIR OBSCUR*/
.clair_obscur {
  background-image: url(IMAGES/BackgroundImage.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*PAGE FIELD OF MISTRIA*/
.field_of_mistria {
  background-image: url(IMAGES/field_bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*personnage affiché*/
.celine {
  width: 10%;
}

/*BUTTON DE THEME ET LANGUE*/
#button {
  position: fixed;
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 30; /* pour les mettre au dessus de tout*/ 
  border-radius: 4em; 
  border-width: 0.3em 0.2em; 
}

/*TITRE*/
h1 {
  color: #e0c682;
  text-align: center;
  font-size: 2.8em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.5);
  margin: 0.5em;
  border: 0.2em;
  border-width: 0.3em 0.2em;
  border-radius: 5em;
  margin-bottom: 5px;
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 2.2em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: #dbb479;
  padding-top: 0.2em;
  padding-bottom: 0.2em; /*padding pour que le fond ait de l'espace entre le texte et le bord*/
  border-radius: 4em;
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

h3 {
  color: #f5c211;
  text-align: center;
  font-size: 1.5em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: #667a75;
  padding-top: 0.2em;
  padding-bottom: 0.2em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
  border-radius: 4em;
  border-width: 0.3em 0.2em;
  margin: 5em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*TEXTE ET LISTE*/
/*texte  et éléments de liste*/
p, li {
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  font-size: 1.2em;
  margin: 0;
  margin-right: 3%;
}
p {
  margin-left:1em;
  margin-top:1em;
}

/*liste numérotée*/
.summary {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/*Liens interne des sous titres*/
.internal_link {
  font-size: 2em;
  color: #e0c682;
  text-align: center;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.3em 0.2em;
  border-radius: 4em;
  padding:0.2e; 
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*classe qui met les mots en gras*/
.bold {
  font-weight: bold;
}

/*LIENS*/
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}
/*quand on survole un lien*/
a:hover {
  background: rgb(0, 0, 0, 0.2); /*change la couleur de fond lorque la souris passe dessus*/
  border-radius: 4em; /*pour que la selection soit arrondie*/
  border-width: 0.3em 0.2em;
}

/*MEDIAS*/
/*VIDEOS*/
video {
  width: 90%;
  height: auto; /*pour que l'image ne se déforme pas*/
  margin: 5%;  /*2% de chaque côté plus les 96% de la vidéo, est tout l'espace de ma colonne est prix en compte.*/
}
iframe {
  width: 720px;
  height: 405px;
}

/*MEDIA*/
/*IMAGES*/
img {
  height: auto; /*pour éviter les déformations*/
}

/*LE VS DE LA PAGE INDEX*/
.vs-border {
  /*Les images restent dans leur position par rapport à leur encadrement appelé versus*/
  position: relative;
  width: 100%;
  height: 40em;
  /*pour pas que le hover depasse en dehors du cadre*/
  overflow: hidden; 
  border-radius: 4em;
}
.vs-border img {
  /*ici c'est pour que les images soient l'une par dessus l'autre a leur position 0*/
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
/*Image de gauche*/
.left { /*pour rogner l'image selon un polynome : haut-gauche, haut-droite, bas-droite,bas-gauche*/
  clip-path: polygon(0 0, 50% 0, 30% 100%, 0 100%);
}
.left:hover {
  clip-path: polygon(0 0, 80% 0, 70% 100%, 0 100%);
  z-index: 20; /*met l'image au dessus de l'autre (axe z)*/
  transform: scale(1.1); /*effet de zoom*/
}
/*Image de droite*/
.right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
}
.right:hover {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);
  z-index: 20;
  transform: scale(1.1);
}

/*LE CARROUSEL DE FIELD OF MISTRIA*/
.carrousel {
  width: 50%; /*pour pas que ce soit toute la largeur de page*/
  margin: auto; /* pour centrer le caroussel*/
  height: auto;
  overflow: hidden; /*on cache les images qu'on veut pas activement montrer*/
  border-radius: 8em; /*on arrondi les bords*/
}
/*définir les slides*/
.slides {
  display: flex;
  width: 500%; /*100% par image*/
  height: auto; /*on évite les déformations*/
  animation: autoplay 20s infinite;
}
/*à affecter au slide de manière individuelle*/
.slide {
  width: 80%;
  height: auto;
  margin: 5em;
}
/*a affecter à l'image dans une slide*/
.slide img {
  width: 100%;* {
  margin: 0;
  padding: 0;
}/* selecteur universel, sans ceci on avait deux-trois éléments qui avait une mise en page un peu étrange.*/

@media (max-width:980px) {
  .aligned,
  .summary,
  footer{
    flex-direction:column;
  }
}

:root {
  /*thème clair*/
  --primary-color-light: #f5c211;
  --background-light: #ffffffff;
  --text-light: #00000000;

  /*thème obscur*/
  --primary-color-dark: #282437;

  /* thème sakura*/
  --primary-color-sakura: #ffb7c5;

  /*defaut*/
  --primary-color: var(--primary-color-light);
  --background-color: var(--background-light);
  --text-color: var(--text-light);
}

.dark {
  --primary-color: var(--color-primary-light);
}

/*CONSTRUCTION DE LA PAGE*/
html {
  background-color: #48524c;
}
body {
  display: block;
}
section {
  margin-top: 1em; /*je ne veux une marge qu'au dessus dans le cas des sections*/
}
.aligned {
  display:flex;
}
.aligned img {
  margin:4em;
  width:20em;
  height:auto;
}

/*NAVIGATION*/
nav {
  background: #dbb479; /*couleur de fond du bandeau de naviguation*/
}

nav > ul {
  display: flex; /*pour que les éléments li se mettent correctement en page*/
}

nav > ul > li {
  display: inline-flex;
  justify-content: space-around;
  padding: 0.1em; /*padding défini la largeur du bandeau hors texte*/
  width: 100%;
}

nav > ul > li > a {
  background-color:#a36029;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  color: #fffff;
  padding:0.2em;
  border-radius: 0.7em;
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*PAGE d'ACCUEIL*/
.index {
  background-image: url(IMAGES/accueil.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*les images cliquables*/
.index ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

header.index img {
    width:10em;
    height: auto;
    display: block;
}


/*LOGO*/
.title {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

/*PAGE CLAIR OBSCUR*/
.clair_obscur {
  background-image: url(IMAGES/BackgroundImage.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*PAGE FIELD OF MISTRIA*/
.field_of_mistria {
  background-image: url(IMAGES/field_bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*personnage affiché*/
.celine {
  width: 10%;
}

/*BUTTON DE THEME ET LANGUE*/
#button {
  position: fixed;
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 30; /* pour les mettre au dessus de tout*/ 
  border-radius: 4em; 
  border-width: 0.3em 0.2em; 
}

/*TITRE*/
h1 {
  color: #e0c682;
  text-align: center;
  font-size: 2.8em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.5);
  margin: 0.5em;
  border: 0.2em;
  border-width: 0.3em 0.2em;
  border-radius: 5em;
  margin-bottom: 5px;
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 2.2em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: #dbb479;
  padding-top: 0.2em;
  padding-bottom: 0.2em; /*padding pour que le fond ait de l'espace entre le texte et le bord*/
  border-radius: 4em;
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

h3 {
  color: #f5c211;
  text-align: center;
  font-size: 1.5em;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  background: #667a75;
  padding-top: 0.2em;
  padding-bottom: 0.2em; /*padding est pour que le fond ait de l'espace entre le texte et le bord*/
  border-radius: 4em;
  border-width: 0.3em 0.2em;
  margin: 5em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*TEXTE ET LISTE*/
/*texte  et éléments de liste*/
p, li {
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  font-size: 1.2em;
  margin: 0;
  margin-right: 3%;
}
p {
  margin-left:1em;
  margin-top:1em;
}

/*liste numérotée*/
.summary {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/*Liens interne des sous titres*/
.internal_link {
  font-size: 2em;
  color: #e0c682;
  text-align: center;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0.3em 0.2em;
  border-radius: 4em;
  padding:0.2e; 
  border-width: 0.3em 0.2em;
  margin: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

/*classe qui met les mots en gras*/
.bold {
  font-weight: bold;
}

/*LIENS*/
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}
/*quand on survole un lien*/
a:hover {
  background: rgb(0, 0, 0, 0.2); /*change la couleur de fond lorque la souris passe dessus*/
  border-radius: 4em; /*pour que la selection soit arrondie*/
  border-width: 0.3em 0.2em;
}

/*MEDIAS*/
/*VIDEOS*/
video {
  width: 90%;
  height: auto; /*pour que l'image ne se déforme pas*/
  margin: 5%;  /*2% de chaque côté plus les 96% de la vidéo, est tout l'espace de ma colonne est prix en compte.*/
}
iframe {
  width: 720px;
  height: 405px;
}

/*MEDIA*/
/*IMAGES*/
img {
  height: auto; /*pour éviter les déformations*/
}

/*LE VS DE LA PAGE INDEX*/
.vs-border {
  /*Les images restent dans leur position par rapport à leur encadrement appelé versus*/
  position: relative;
  width: 100%;
  height: 40em;
  /*pour pas que le hover depasse en dehors du cadre*/
  overflow: hidden; 
  border-radius: 4em;
}
.vs-border img {
  /*ici c'est pour que les images soient l'une par dessus l'autre a leur position 0*/
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
/*Image de gauche*/
.left { /*pour rogner l'image selon un polynome : haut-gauche, haut-droite, bas-droite,bas-gauche*/
  clip-path: polygon(0 0, 50% 0, 30% 100%, 0 100%);
}
.left:hover {
  clip-path: polygon(0 0, 80% 0, 70% 100%, 0 100%);
  z-index: 20; /*met l'image au dessus de l'autre (axe z)*/
  transform: scale(1.1); /*effet de zoom*/
}
/*Image de droite*/
.right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
}
.right:hover {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);
  z-index: 20;
  transform: scale(1.1);
}

/*LE CARROUSEL DE FIELD OF MISTRIA*/
.carrousel {
  width: 50%; /*pour pas que ce soit toute la largeur de page*/
  margin: auto; /* pour centrer le caroussel*/
  height: auto;
  overflow: hidden; /*on cache les images qu'on veut pas activement montrer*/
  border-radius: 8em; /*on arrondi les bords*/
}
/*définir les slides*/
.slides {
  display: flex;
  width: 500%; /*100% par image*/
  height: auto; /*on évite les déformations*/
  animation: autoplay 20s infinite;
}
/*à affecter au slide de manière individuelle*/
.slide {
  width: 80%;
  height: auto;
  margin: 5em;
}
/*a affecter à l'image dans une slide*/
.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*défilement des images*/
@keyframes autoplay {
  0% {
    transform: translateX(0); /*première image*/
  }
  5% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-20%); /*deuxième image*/
  }
  25% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%); /*troisième image*/
  }
  45% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%); /*quatrième image*/
  }
  65% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%); /*cinquième image*/
  }
}

/*FOOTER*/
footer {
  background: #667a75;
  padding: 3em; /*pour ne pas avoir les éléments colles aux bord du footer*/
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
}

footer > section {
  color: #241f31;
  width: 30%;
  text-align: center;
}

footer>form>p {
  text-align: start;
}
/* Pour visualiser durant les changements, https://codepen.io/pen/ */
    transform: translateX(0);
  }
  20% {
    transform: translateX(-20%); /*deuxième image*/
  }
  25% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%); /*troisième image*/
  }
  45% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%); /*quatrième image*/
  }
  65% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%); /*cinquième image*/
  }
}

/*FOOTER*/
footer {
  background: #667a75;
  padding: 3em; /*pour ne pas avoir les éléments colles aux bord du footer*/
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
}

footer > section {
  color: #241f31;
  width: 30%;
  text-align: center;
}

footer>form>p {
  text-align: start;
}
/* Pour visualiser durant les changements, https://codepen.io/pen/ */
                <li><a class="internal_link" href="#why">Pourquoi ce jeu ?</a></li>
            </ul>
        </header>    
        <section>
            <h2 id="presentation">Présentation du jeu</h2> <!--Présentation du gameplay ainsi que du jeu-->
	        <h3>Clair Obscur : Expedition 33</h3>
		    <p>
		        <span class="bold">Clair Obscur : Expedition 33</span> est un jeu RPG tour par tour révolutionnaire et développé par la boite <span class="bold">Sandfall Interactive</span> et publié par <span class="bold">Kepler Interactive.</span> Le jeu est donc sorti le 24 Avril 2025 et a connu un succès <span class="bold">phénoménal à travers le monde.</span>
			</p>
		    <p>
		    	Clair Obscur possède un gameplay très intéressant mais surtout intense au niveau des combats ce qui rend le jeu beaucoup plus immersif. En effet, les combats possèdent un système de parade et d'esquive ce qui rend donc le jeu beaucoup plus intense, immersif mais aussi stressant !
		    </p>
		    <div class="aligned">
				<div>
					<h3>Synopsis</h3> <!--Synopsis du jeu / début de l'histoire-->
					<p>
			            Clair Obscur : Expedition 33 se déroule donc dans un univers très sombre mais égalament fantastique très inspiré de la <span class="bold">belle époque</span> mais aussi qui fait référence à <span class="bold">Paris surnommée la ville lumière.</span>
			            <br>
			            On suit donc l'histoire de plusieurs jeunes adultes qui tentent chaque année au travers de différentes expeditions d'arrêter une entité prénomée la <span class="bold">Peintresse</span> qui chaque année, inscrit sur un monolithe géant, un nombre de plus en plus petit. Ce dernier correspond à l'age de d'un groupe de personnes qui disparaisent a un moment dans l'année.
			        </p>
				</div>
				<img src="IMAGES/e33_game.webp" alt="gameplay de clair obscur">
			</div>
        </section>
        <section>
            <h2 id="why">Pourquoi ce jeu ?</h2>
            <h3>Un jeu poétique</h3>
            <p>
                Tout au long du jeu, plusieurs passages sont très poétiques ou remplis de métaphores ce qui rend l'histoire très belle mais aussi ses personnages très attachants. En effet, les relations entre les différents personnages sont très construites et c'est l'une des particularités du jeu que l'on trouve incroyable.
                <br><br>
                En plus de cela, toutes les cinématiques sont réalisées en capture motion avec des vrais acteurs ce qui rend également les cinématiques très humaines et vivantes. On peut presque se mettre dans la peau du personnage pour ainsi ressentir les même choses que celui-ci.
            </p>
            <h3>Les musiques incroyables</h3>
            <p>
                Chaque musique du jeu laisse derrière elle une trace auditive forte mais également memorielle ce qui nous donne envie de l'écouter plusieurs fois. Chaque musique a une signification que cela soit pendant les combats ou non. Certaines musiques sont intenses tout comme d'autres qui sont très belles ou encore très marrantes à écouter.
            </p>
			<div class="video">
                <video controls>
                    <source src="video/Trailer-VF.mp4" type="video/mp4">
					<track kind="subtitles" src="assets/vtt/sous-titres-fr.vtt" srclang="fr" label="Français" default> <!-- pour rajouter les sous-titres dans le trailer-->
                    <track kind="subtitles" src="assets/vtt/sous-titres-en.vtt" srclang="en" label="English">
					Votre navigateur ne supporte pas la lecture de vidéos <!-- pour prévenir l'utilisateur si ça ne fonctionne pas-->
                </video>
            </div>
        </section>
        <footer>
			<section>
				<h3>Mentions légales</h3>  <!-- Pour dire à qui appartient le site -->
				<p>
					Le site web apartient à Nina MATIC CHARBIT, Ewan FRANCOIS et Ombeline CHAUD. Ce site est réalisé dans le cadre de nos études. Icones <a target="_blank" href="https://icons8.com/icon/JEHyP4UaUZeT/home">accueil</a> et <a target="_blank" href="https://icons8.com/icon/hVsO9jMVuSJB/automatic-contrast">theme</a> par <a target="_blank" href="https://icons8.com">Icons8</a>
				</p>
			</section>
          <form id="form" action="mailto:ewan.francois@etu.univ-amu.fr?subject=Formulaire%20Site&body=Bonjour%2C%0A%0A" method="post" enctype="text/plain">
			<!-- les mails sont envoyés à Ewan -->
				<p>
					<span>Quel est votre jeu préféré?</span>
					<br>
					<input id="clair_obscur" type="radio" name="jeu_favori" value="clair_obscur"> <!--une seule valeur de type radio peut être choisie pour un même nom-->
					<label for="clair_obscur"> Clair Obscur</label>
					<br>
					<input id="field_of_mistria" type="radio" name="jeu_favori" value="field_of_mistria"> <!--une seule valeur de type radio peut être choisie pour un même nom-->
					<label for="field_of_mistria">Field Of Mistria</label>
					<br>
					<label for="prenom">Prenom ou nom d'utilisateur</label>
					<input id="prenom" type="text">
					<br>
					<label for="eleve_favori"> Qui souhaitez-vous contactez?</label>
					<select name="eleve_favori" id="eleve_favori"> <!--menu déroulant-->
						<option value="aucun" selected="selected">je déteste mes élèves</option><!-- valeur choisie par défaut-->
						<option value="CHAUD">Ombeline CHAUD</option>
						<option value="EWAN">Ewan FRANCOIS</option>
						<option value="MATIC">Nina MATIC CHARBIT</option>
					</select>
					<br>
					<textarea id="message" name="message" rows="5" cols="30">...</textarea> <!--rows et cols définissent la taille-->
					<label for="message">Votre Message</label>
					<br>
					<input type="submit" value="Envoyer">  <!--bouton envoyer -->
				</p>
        	</form>
    	</footer>
    </body>
</html>
